[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible-core = "==2.16.6"
boto3 = "==1.34.92"
botocore = "==1.34.92"
lxml = "==5.2.1"
psycopg2-binary = "==2.9.9"

[dev-packages]
molecule = "==24.2.1"
molecule-docker = "==2.1.0"
molecule-plugins = {extras = ["docker"], version = "==23.5.3"}
ansible-compat = "==4.1.11"
docker = "==7.0.0"
pytest = "*"
pytest-testinfra = "*"
pre-commit = "*"

[requires]
python_version = "3"
